/*
 * ================================================================================================
 * 🐳 Nextflow Configuration File
 * ================================================================================================
 */

params {
    // --- 出力ディレクトリ設定 ---
    tracedir = "${params.outdir}/pipeline_info"
    
    // --- ★ここを追加！(共通パラメータのデフォルト値) ---
    // これを書くことで、警告(WARN)が消えて、全モジュールで値が使えるようになります
    single_end        = false 
    adapter_fasta     = "${System.getProperty("user.home")}/fasta/adapter.fasta"
    fastq_dir         = "${System.getProperty("user.home")}/fastq"
    outdir            = "results"
    cpus              = 8
    
    // --- FeatureCounts用設定 ---
    fc_group_features = 'gene_id'
    
    // ★ここを追加：STARインデックス作成時のパラメータ (デフォルトはマウス/ヒト用の14)
    star_index_nbases = 14

    // --- De novo用設定 ---
    denovo = false // デフォルトはRef-based
    busco_lineage = "eukaryota_odb10" // 適宜変更してください
    busco_download_path = "./busco_downloads"
}

process {
    // エラー時の再試行設定
    errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries    = 2
}

profiles {
    standard {
        apptainer.enabled    = true
        apptainer.autoMounts = true
        docker.enabled       = false
    }

    apptainer {
        apptainer.enabled    = true
        apptainer.autoMounts = true
        docker.enabled       = false
    }

    docker {
        docker.enabled       = true
        docker.runOptions    = '-u $(id -u):$(id -g)'
        apptainer.enabled    = false
    }
}

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${params.tracedir}/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.tracedir}/execution_report_${trace_timestamp}.html"
}