params {
    // --- 必須引数 (コマンドラインで指定想定) ---
    // デフォルトは null にしておきます
    fasta           = null   // リファレンスFASTA
    gtf             = null   // リファレンスGTF
    
    // --- 入力データ (どちらか片方を使用) ---
    samplesheet     = null   // 複数サンプルの場合: CSVファイルパス
    fastq_dir       = null   // サンプルシート利用時のFASTQディレクトリ
    
    r1              = null   // 単一サンプルの場合: Read1ファイルパス
    r2              = null   // 単一サンプルの場合: Read2ファイルパス
    sample_name     = "sample" // 単一サンプルの場合の出力名

    // --- Single Cell設定 ---
    pipseeker_bin   = "./pipseeker/pipseeker-v3.3.0-linux/pipseeker" // 必要なら書き換え
    sc_chemistry    = "V"
    sc_sensitivity  = "3"

    // --- 出力先 ---
    outdir          = "results_sc"
}

profiles {
    standard {
        apptainer.enabled    = true
        apptainer.autoMounts = true
        docker.enabled       = false
    }
    apptainer {
        apptainer.enabled    = true
        apptainer.autoMounts = true
        docker.enabled       = false
    }
    docker {
        docker.enabled       = true
        docker.runOptions    = '-u $(id -u):$(id -g)'
        apptainer.enabled    = false
    }
}
